.citylist{
  height: 100%; // 方便 AutoSizer计算
  padding-top: 45px;
  background-color: #fff; 
}
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f6f5f6;
}

.city {
  .city-title {
    font-size: 14px;
    padding: 10px 15px;
    color: #999;
  }
  .city-name {
    height: 50px;
    padding: 0 15px;
    line-height: 50px;
    border-bottom: 1px solid #eeeeee;
    font-size: 16px;
    color: #333;
  }
}

// 右侧 城市关键字列表
.city-index {
  position: absolute;
  top: 55px;
  right: 12px;
  li{
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 9px;
    border-radius: 50%;
    font-size: 14px;
  }
  .active{
    background-color: #21b97a;
    color: #fff;
  }
}